.pagination-ctn {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.rows-per-page-text {
	margin-right: 24px;
}

.act-btn {
	font-weight: bold;
	cursor: pointer;
	padding: 4px;
}

.left-btn {
	margin-right: 10px;
}

.right-btn {
	margin-left: 10px;
}

.dropdown-ctn {
	height: 30px;
	border-radius: 4px;
	margin-right: 20px;
}
