.banks-page-ctn {
	max-width: 1360px;
	width: 1280px;
	margin-top: 60px;
	background-color: #eee;
}

.error-ctn {
	height: 500px;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader-ctn {
	width: 1280px;
	margin-top: 60px;
}

.no-bank-ctn {
	width: 100%;
}

.left-ctn {
	background-color: yellow;
}

.right-ctn {
	padding: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.intereaction-ctn {
	display: flex;
}

.text-input {
	padding: 10px;
	height: 30px;
	margin-left: 20px;
}

.select-input {
	height: 30px;
	border-radius: 4px;
	margin-left: 20px;
}
